<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>

    <div width="100%" style="min-width:100%!important;margin:0!important;padding:0!important">
 
        <table width="660" border="0" cellpadding="0" cellspacing="0" align="center">
            <tbody>
                <tr>
                    <td width="100%" style="min-width:100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="display:block">
                            <tbody>
                                <tr>
                                    <td width="100%" align="center" style="display:block;text-align:center;vertical-align:top;font-size:16;min-width:100%;background-color:#edece6">
                                        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="display:block;min-width:100%!important" bgcolor="#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td width="100%" align="center" style="text-align:center;padding:10px 0px">
                                                        <a href="http://www.puneabrasives.com/" target="_blank">
                                                            <img src="http://www.puneabrasives.com/images/logo.png" width="30%">
                                                        </a>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0">&nbsp;</div>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="display:block;min-width:100%;background-color:#edece6">
                                            <tbody>
                                                <tr style="background-color:#1a263a">
                                                    <td>&nbsp;</td>
                                                    <td width="660" style="padding:20px 0px 20px 0px;text-align:center"><a href="#" style="text-decoration:none;font-size:20px;color:#ffffff"><b>UPDATE</b> - Pune Abrasive Pvt. Ltd.</a></td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td valign="middle" align="left" width="100%" style="padding:0px 21px 0px 21px">&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td width="100%">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-bottom:2px solid #b8b8b8; width:90%" bgcolor="#ffffff">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="100%" align="left" valign="top" style="padding:10px;">
                                                                       
                                                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                                <tbody>
                                                                                    <tr height="40">
                                                                                        <td style="text-align:center;padding:0px 1px 1px 15px;font-size:14px;color:#333333;line-height:1.4!important;word-wrap:break-word" valign="top">
                                                                                            <p class="pdata" align="center" style="font-size: 16px; text-align: left;">
                                                                                                $Comment$
                                                                                            </p>
																							
                                                                                            <br /><br />
                                                                                            <hr style="border-top: 1px dashed #333333;" />
                                                                                            <p class="pdata" align="center" style="font-size: 16px; text-align: left;">
                                                                                                NOTE :-  This is system generated mail.<br />
                                                                                                If you find this is not a genuine update then please report to <br /><a href="mailto:girish.kulkarni@puneabrasives.com">girish.kulkarni@puneabrasives.com</a> immediately.
                                                                                            </p>

                                                                                        </td>
                                                                                    </tr>

                                                                                </tbody>
                                                                            </table>
                                                                        
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <br />
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />

                                        <table width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="100%" bgcolor="#1A263A" style="padding:0px 30px!important;background-color:#1a263a">
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="color:#ffffff;text-align:center;font-size:14px">
                                                            <tbody>
                                                                <tr><td height="24px">&nbsp;</td></tr>
                                                                <tr>
                                                                    <td style="padding:0px 10px 0px 10px;font-size:14px">
                                                                        <a href="http://www.puneabrasives.com/about-us.html" style="text-decoration:underline;color:#ffffff" target="_blank">About Us</a> | <a href="http://www.puneabrasives.com/contact-us.php" style="text-decoration:underline;color:#ffffff" target="_blank">Contact Us</a> 
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:5px 10px 24px 10px;text-decoration:none!important;color:#ffffff!important;font-size:14px">
                                                                        <span>
                                                                            Plot No. 84, 2nd Floor D2 Block, MIDC Chinchwad, KSB Chowk,
                                                                            Near Shell Petrol Pump, Pune - 411019.
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>

</html>